.header__background-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 800;
  font-size: 168px;
  opacity: 0.4;
  color: var(--dark-color);
  text-transform: uppercase;
  z-index: -2;
  margin: -168px 0 0;
}

@media screen and (max-width: 2000px) {
  .header__background-text {
    display: none;
  }
}
