.header__subtitle {
  font-family: "Larken-Medium";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: var(--second-color);
}
