.subtitle {
  color: var(--second-color);
  text-transform: uppercase;
  font-family: "Larken-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3em;
  margin: 0;
}
