.header__content {
  max-width: 1720px;
  box-sizing: border-box;
}

@media screen and (min-width: 1761px) {
  .header__content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1760px) {
  .header__content {
    margin: 0 20px;
  }
}
